#bio-section{
    display:flex;
    align-items: center;
    margin-bottom: 100px;
}
#bio-details{
    line-height: 2rem;
    width: 64vw;
    margin: 2vw;
}
#bio-text{
    display: flex;
}
#tech-icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: whitesmoke;
    padding: 1vw;
    border-radius: 10px;
    width: 30vw;
    svg{
        width: 45%;
    }
}
@media (max-width: 994px){
    #bio-details p{
        display:inline-block;
    }
}
@media(max-width: 850px){
    #bio-details p{
        line-height: 1.5rem;
    }
}