#bio-section{
    display:flex;
    align-items: center;
    margin-bottom: 100px;
    height: 100vh;
    p{
        line-height: 2.5rem;
        width: 64vw;
        margin: 2vw;
        font-size: 1.5rem;
    }
}
#tech-icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: whitesmoke;
    padding: 1vw;
    border-radius: 10px;
    width: 30vw;
    height: fit-content;
    svg{
        width: 30%;
    }
}

@media(max-width: 900px){
    #bio-section{
        flex-direction:column;
        #tech-icons{
            width: 60%;
        }
        p{
            width: 90%;
        }
    }
}