#bio-section{
    // background-color: rgba(255, 255, 255, 5%);
}
#bio-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
    & a{
        margin-top: -20px;
        display:flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        padding: 20px;
        border: 1px solid darkorange;
        background-color: darkorange;
        border-radius: 20px;
        font-weight: 700;
        margin-bottom: 40px;
        background-image: linear-gradient(to left, transparent 50%, white 50%);
        background-size: 201%;
        background-position: 100%;
        transition: 0.4s;
        &:hover, &:focus{
            color: black;
            background-position: 0%;
        }
    }
}
#bio-details{
    padding: 50px 0 150px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    line-height: 2rem;
    & img{
        float:left;
        width: 60%;
        max-width: 500px;
        margin-right: 3%;
    }
    & p{
        display: flex;
        align-items: center;
    }
}
#bio-text{
    display: flex;


}
@media (max-width: 994px){
    #bio-details p{
        display:inline-block;
    }
}
@media(max-width: 885px){
    #bio-buttons{
        width: 100%;
        justify-content: center;
    }
}
@media(max-width: 850px){
    #bio-details p{
        line-height: 1.5rem;
    }
}
@media (max-width: 400px){
    #bio-buttons{
        width: 100%;
    }
}