#contact-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    & h2{
        color: white;
    }
    margin-bottom: 50px;
}
#message{
    width: 400px;
    height: 200px;
}
#send{
    background-color: darkorange;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border: 0;
}
#send:hover, :focus{
    box-shadow: 0 0 10px white;
    cursor: pointer;
}
@media (max-width: 410px){
    #message{
        width: 100%;
    }
}