#contact-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    & h2{
        color: white;
    }
    margin-bottom: 50px;
}
#message{
    width: 400px;
    height: 200px;
}