footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0e1111;
    & h2{
        margin-bottom: 0;
    }
    & h3{
        margin-top: 0;
        margin-bottom: 0;
    }
    & h4{
        margin-top: 0;
    }
    & div{
        display: flex;
        justify-content: space-evenly;
        width: 250px;
        margin-bottom: 20px;
        & img{
            height: 60px;
            filter: invert(1);
        }
    }
}
@media (max-width: 265px){
    footer a{
        display: flex;
        justify-content: center;
        height: auto;
        width: 30%;
    }
    footer div{
        width: 100%;
        align-items: center;
    }
}