#hero-section{
    display: flex;
    justify-content: space-evenly;
}
#hero-text{
    align-self: center;
    p{
        text-align: center;
        margin-bottom: 50px;
        animation: 1.5s ease fadeIn;
    }
    h2{
        margin-bottom: 0;
        line-height: 4rem;
        margin-bottom: 20px;
        font-size: 5rem;
        animation: 1.5s ease slideInLeft;
    }
    h3{
        margin-top: 0;
        line-height:2.5rem;
        font-size: 3rem;
        padding-left: 30px;
        animation: 1s ease slideInLeft;
    }
}
#hero-img{
    display: flex;
    align-items: flex-end;
    animation: 1s ease slideInRight;
    & img{
        width: 300px;
        height: auto;
    }
}
@keyframes slideInRight{
    0%{
        translate: 100%;
        opacity: 0%;
    }
    30%{
        opacity: 0%;
    }
    100%{
        translate: 0;
        opacity: 100%;
    }
}
@keyframes slideInLeft{
    0%{
        translate: -100%;
        opacity: 0%;
    }
    50%{
        opacity: 0%;
    }
    100%{
        translate: 0;
        opacity: 100%;
    }
}
@keyframes fadeIn{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }

}
@media (max-width: 885px){
 #hero-section{
    flex-direction: column;
 }
 #hero-img{
    justify-content: center;
    margin-bottom: 40px;
 }
}
@media (max-width: 560px){
    #hero-text{
        & h2{
            line-height: 2.5rem;
            text-align: center;
            font-size: 3rem;
            margin-bottom: 10px;
        }
        & h3{
            font-size: 2rem;
        }
    }
    #hero-img img{
        width: 100%;
        height: auto;
    }
}
@media (max-width: 400px){
    #hero-img img{
        display: none;
    }
}