#hero-section{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    height: 100vh;
    a{
        display:flex;
        justify-content: center;
        align-items: center;
    }
}
#hero-text{
    align-self: center;
    text-align: center;
    p{/*...loves a challenge*/
        text-align: center;
        margin-bottom: 50px;
        animation: 3s ease fadeIn;
        font-weight: 600;
    }
    h2{/*Cordre Payne*/
        line-height: 4rem;
        margin-bottom: 4rem;
        font-size: 5rem;
        -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
        color: #fff;
        text-shadow: 0 0 10px darkorange,
        0 0 20px darkorange,
        0 0 40px darkorange,
        0 0 80px darkorange,
        0 0 160px darkorange;
        *{
            color: red;
            animation: flicker 5s linear infinite;
        }
    }
    h3{/*Full Stack Web Developer*/
        display: flex;
        flex-wrap: wrap;
        margin-top: 0;
        line-height:2.5rem;
        font-size: 3rem;
        animation: 1s ease slideInLeft;
    }
}
#hero-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 150px;
    justify-content: space-between;
    & a{
        display:flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        padding: 20px;
        border: 1px solid darkorange;
        background-color: darkorange;
        border-radius: 20px;
        font-weight: 700;
        background-image: linear-gradient(to left, transparent 50%, white 50%);
        background-size: 201%;
        background-position: 100%;
        transition: 0.4s;
        &:hover, &:focus{
            color: black;
            background-position: 0%;
        }
    }
}
#next-section{
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: darkorange;
    opacity: 50%;
    z-index: 98;
    bottom: 5%;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    animation: bounce 7s ease-in-out infinite;
    padding-left: 0;
    padding-right: 0;
}
#next-section:hover{
    opacity: 100%;
    cursor:pointer;
}

@keyframes bounce{
    50%{
        transform: translateY(-20px); 
    }
}
@keyframes flicker{
    0%, 18%, 26.1%, 30%, 60.1%, 92%{
        color: #5a3318;
        text-shadow: none;
    }
    18.1%, 26%, 30.1%, 60%, 92.1%, 100%{
        color: #fff;
        text-shadow: 0 0 10px darkorange,
        0 0 20px darkorange,
        0 0 40px darkorange,
        0 0 80px darkorange,
        0 0 160px darkorange;
    }
}
@keyframes slideInLeft{
    0%{
        translate: -100%;
        opacity: 0%;
    }
    50%{
        opacity: 0%;
    }
    100%{
        translate: 0;
        opacity: 100%;
    }
}
@keyframes fadeIn{
    0%{
        opacity: 0%;
    }
    30%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }

}
@media (max-width: 885px){
 #hero-section{
    flex-direction: column;
 }
 #hero-img{
    justify-content: center;
    margin-bottom: 40px;
 }
}
@media (max-width: 560px){
    #hero-text{
        & h2{
            line-height: 2.5rem;
            text-align: center;
            font-size: 3rem;
            margin-bottom: 10px;
        }
        & h3{
            font-size: 2rem;
        }
    }
    #hero-img img{
        width: 100%;
        height: auto;
    }
}
@media (max-width: 400px){
    #hero-img img{
        display: none;
    }
}
@media(max-width: 885px){
    #hero-buttons{
        width: 100%;
    }
}
@media (max-width: 400px){
    #hero-buttons{
        width: 100%;
    }
}