.navbar{
    display:flex;
    width: 100%;
    margin: 0;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    h2{
        padding-left: 2%;
        width: 30%;
    }
    div{
        display: flex;
        width: 70%;
        height: 100%;
        align-items: center;
        justify-content: space-evenly;
    }
}

#hamburgerMenu{
    height: 50%;
    &:hover{
        transform:translate(0, -2px)
    }
}

#theme-toggle{
    background:grey;
    box-shadow: inset 0px 0px 15px 0px black;
    height: 30px;
    width: 70px;
    border-radius: 25px;
    align-items: center;
    position: relative;
}
#theme-button{
    background: #121212;
    margin: 3px;
    height: 26px;
    width: 26px;
    border-radius: 15px;
    cursor: pointer;
    position: absolute;
    left: 0px;
    transition: 1s;
}