.navbar{
    display:flex;
    width: 100%;
    margin: 0;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}
.navbar h2{
    padding-left: 2%;
    width: 30%;
}
.navbar div{
    display: flex;
    width: 70%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

#hamburgerMenu{
    height: 50%;
    &:hover{
        transform:translate(0, -2px)
    }
}
