.projectSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .project-card{
        display:flex;
        flex-direction:column;
        position: relative;
        background-color: rgb(39, 39, 39);
        // padding: 1vw;
        width: 30vw;
        margin-bottom: 10px;
        border-radius: 10px;
        box-shadow: 0 0 10px black;
        transition: box-shadow 1s, background-color 1s;
        *{
            margin-left: 1vw;
            margin-right: 1vw;
        }
        img{
            aspect-ratio: 1/1;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }
    .project-card:hover, .project-card:focus{
        background-color: rgb(63, 63, 63);
        box-shadow: 0 0 10px darkorange;
    }
}


// .projectSection{
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-evenly;
//     height: 100vh;
//     width: 96vw;
//     .project-card{
//         background-color: gray;
//         padding: 1%;
//         max-width: 30%;
//         max-height: 40%;
//         margin-bottom: 1%;
//         aspect-ratio: 1/1;
//         img{
//             aspect-ratio: 1/1;
//             max-width: 70%;
//         }
//     }
// }