#projectSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 100px;
    position: relative;
    .bump-page{
        position: absolute;
        display: flex;
        justify-content: center;
        bottom: 0;
    }
    .project-card{
        display:flex;
        flex-direction:column;
        position: relative;
        background-color: rgb(39, 39, 39);
        width: 30vw;
        margin-bottom: 10px;
        border-radius: 10px;
        box-shadow: 0 0 10px black;
        transition: box-shadow 1s, background-color 1s;
        p{
            font-size: 1.2rem;
            font-weight: 600;
        }
        *{
            margin-left: 1vw;
            margin-right: 1vw;
        }
        img{
            aspect-ratio: 1/1;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }
    .project-card:hover, .project-card:focus{
        background-color: rgb(63, 63, 63);
        box-shadow: 0 0 10px darkorange;
    }
}

@media(max-width: 885px){
    .project-card{
        p{
            font-size:0;
        }
    }
}
@media(max-width: 650px){
    .project-card{
        min-width: 90vw;
    }
}