.routes{
    #homepage > *{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    #homepage > #cursor{
        padding-left: 0;
        padding-right: 0; 
    }
    #projectspage > *{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}